<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="d-flex justify-content-center">
        CHRONO<span class="red">METRE</span>
      </h1>

      <div class="card">
        <div class="card-body d-flex justify-content-center afficheChrono">
          {{ecart}}
        </div>

        <div class="card-footer d-flex justify-content-center">
          <button *ngIf="!isStarted" type="button" (click)="start()" id="button_start" class="btn btn-success">
            Start
          </button>

          <button *ngIf="isStarted && !isPaused" type="button" (click)="pause()" id="button_stop" class="btn btn-danger">
            Stop
          </button>

          <button *ngIf="isStarted && !isPaused" type="button" (click)="keep()" id="button_keep" class="btn btn-outline-info">
            Keep
          </button>

          <button *ngIf="isStarted && isPaused" type="button" (click)="continue()" id="button_continue" class="btn btn-success">
            Continue
          </button>

          <button *ngIf="isStarted && isPaused" type="button" (click)="stop()" id="button_clear" class="btn btn-danger">
            Clear
          </button>
        </div>
      </div>

      <table *ngIf="boolTab" class="table table-bordered table-hover mt-4">
        <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Duration</th>
          <th scope="col">Note</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let item of tabTemps; let itemIndex = index">
          <th scope="row">
            <button (click)="suppItem(itemIndex)" type="button" class="btn btn-sm btn-outline-danger">
              x
            </button>
          </th>

          <td>
            {{item}}
          </td>

          <td>
            <div class="form-group">
              <input type="email" class="form-control">
            </div>
          </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
